.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
}
.yellow{
    background-color: yellow;
    
}
.blue{
    background-color: blue;

}
.green{
    background-color: green;

}